body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

figure {
  text-align: center;
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background: gray;
}

figcaption {
  text-align: center;
  font-size: 10px;
}

p#featured-property {
  width: 800px;
  text-align: center;
}

#details {
  display: block;
  background: red;
  text-align: center;
}

#details div {
  width: 25%;
}